@model IEnumerable<GestionSUM.Models.Usuario>

@{
    ViewData["Title"] = "Usuarios";
}

@* <h1>Usuarios</h1> *@
<div class="card bg-success text-white shadow-sm mb-4">
    <div class="card-body text-center">
        <h1 class="fw-bolder mb-1">Usuarios</h1>
    </div>
</div>

<p>
    <a asp-action="Create" class="btn btn-primary">Nuevo Usuario</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Departamento</th>
            <th>Rol</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nombre</td>
                <td>@item.Departamento</td>
                <td>@item.Rol</td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<style>
    body {
        min-height: 100vh;
        background: linear-gradient(135deg, #f4f6f9, #e9ecef);
    }
</style>
