@using GestionSUM.Services
@using GestionSUM.Models

@model IEnumerable<GestionSUM.Models.Reserva>

@{
    ViewData["Title"] = "Reservas SUM";
}

@* <h1>Reservas del SUM</h1> *@
<div class="card bg-success text-white shadow-sm mb-4">
    <div class="card-body text-center">
        <h1 class="fw-bolder mb-1">Listado de Reservas</h1>
    </div>
</div>

<div class="card card bg-dark-subtle text-white shadow-sm mb-3">
    <div class="card-body text-center">

        <a asp-action="Create" 
        class="btn btn-success btn m-3">
        📅 Nueva Reserva
            </a>


        @if (UsuarioActual.Rol == RolUsuario.Administrador)
        {
            <a asp-action="Historial"
               class="btn btn-success btn m-3">
                📄 Historial de cancelaciones
            </a>
        }

        @if (TempData["Error"] != null)
        {
            <div class="alert alert-danger">
                @TempData["Error"]
            </div>
        }

    </div>
</div>


<table class="table">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Turno</th>
            <th>Usuario</th>
            <th>Depto</th>
            <th>
            @if (UsuarioActual.Rol == RolUsuario.Administrador)
                {
                <a>Acciones</a>
            }
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var r in Model)
        {
            <tr>
                <td>@r.Fecha.ToShortDateString()</td>

                <td>
                    @r.Turno?.MomentoDelDia
                    <br />
                    <small class="text-muted">
                        (@r.Turno?.HoraInicio - @r.Turno?.HoraFin)
                    </small>
                </td>

                <td>@r.Usuario?.Nombre</td>
                <td>@r.Usuario?.Departamento</td>

                <td>
                    @if (UsuarioActual.Rol == RolUsuario.Administrador)
                    {
                        <a asp-action="Delete"
                           asp-route-id="@r.Id"
                           class="btn btn-sm btn-danger">
                            Cancelar
                        </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-secondary" asp-area="" asp-controller="Home" asp-action="Index">Volver</a>

<style>
    body {
        min-height: 100vh;
        background: linear-gradient(135deg, #f4f6f9, #e9ecef);
    }
</style>

