@using GestionSUM.Services
@using GestionSUM.Models

@model IEnumerable<GestionSUM.Models.Reserva>

@{
    ViewData["Title"] = "Inicio";
}


<div class="container mt-5">

    <!-- Encabezado -->
    <div class="card bg-dark-subtle text-secondary shadow-sm mb-4">
        <div class="card-body text-center">
            <h1 class="fw-bold mb-1">Gestión de SUM</h1>
            <p class="text-muted mb-0">Edificio Monte Grande</p>
        </div>
    </div>

    <!-- Acciones -->
    <div class="card card bg-dark-subtle text-white shadow-sm mb-4">
        <div class="card-body text-center">

            @if (UsuarioActual.Rol == RolUsuario.Administrador)
            {
                <a asp-controller="Usuarios"
                   asp-action="Index"
                   class="btn btn-secondary btn m-3">
                    👤 Usuarios
                </a>
            }

            <a asp-controller="Reservas"
               asp-action="Index"
               class="btn btn-secondary btn m-3">
                📋 Reservas
            </a>

            <a asp-controller="Reservas"
               asp-action="Create"
               class="btn btn-secondary btn m-3">
                📅 Reservar ahora
            </a>

        </div>
    </div>


@* <div class="card card bg-warning-subtle text-secondary shadow mb-4"> *@
    <!-- Próximas reservas -->
    <h3 class="mb-3">Próximas reservas</h3>

    @if (!Model.Any())
    {
        <div class="alert alert-warning shadow-sm">
            No hay reservas próximas.
        </div>
    }
    else
    {
        <div class="row">
            @foreach (var r in Model)
            {
                <div class="col-md-6 col-lg-4 mb-3">
                    <div class="card shadow-sm h-100">
                        <div class="card-body">

                            <h5 class="card-title">
                                📆 @r.Fecha.ToString("dd/MM/yyyy")
                            </h5>

                            <p class="mb-1">
                                ⏰ <strong>@r.Turno.MomentoDelDia</strong><br />
                                @r.Turno.HoraInicio.ToString(@"hh\:mm") –
                                @r.Turno.HoraFin.ToString(@"hh\:mm")
                            </p>

                            <hr />

                            <p class="mb-0">
                                👤 @r.Usuario?.Nombre <br />
                                🏠 Depto: @r.Usuario?.Departamento
                            </p>

                        </div>
                    </div>
                </div>
            }
        </div>
        }
    </div>

</div> <!-- cierre container -->

<style>
    body {
        min-height: 100vh;
        background: linear-gradient(135deg, #f4f6f9, #e9ecef);
    }
</style>
